*{
    padding: 0%;
    margin: 0%;
}
body{
    width: 100%;
    height: 100vh;
}


.container {
    display: flex;
    background-color: purple;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.body
{   display: flex;
    flex-direction: row;
  
    justify-content: center;
    
}


.sec {
    background-color: aliceblue;
    height: 30vh;
    width: 30vh;
    margin : 2vh;
    border-radius: 300%;
    

}

.header {
    background-color: brown;
    height: 20vh;
    display: flex;
    align-self: flex-start;
    width: 100vh;
}